/* * {
  box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-transform: none;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    transition: all .3s linear;
} */

:root {
    --black: #000; 
    --black-light: #353535; 
    --white: #fff; 
    --body: #fff4e3;
    --blue: #0663a2; 
    --blue-main: #239FDD; 
    --blue-light: #28a3f7;
    --green: #13941E;
    --green-clr: #019501;
    --teal-clr: #4bbf73;
    --yellow: #f9c80c;
    --yellow-clr: #ffc63d;
    --red: #f96900;
    --grey: #ddd;

    --border: 0.1rem solid rgba(0, 0, 0, 0.1);
    --box-shadow: 0 .8rem 1rem rgba(0,0,0,.5);  
    --box-shadow-clr: 0 .8rem 1rem rgba(252, 252, 252, 0.7);
    --gradient: linear-gradient(45deg, var(--blue), var(--blue-light));

    --font-h1: calc(30px + (60 - 30) * ((100vw - 300px) / (1600 - 300)));   
    --font-h2: calc(25px + (50 - 25) * ((100vw - 300px) / (1600 - 300)));    
    --font-h3: calc(20px + (40 - 20) * ((100vw - 300px) / (1600 - 300)));      
    --font-h4: calc(16px + (30 - 16) * ((100vw - 300px) / (1600 - 300)));

    --font-p-h5: calc(14px + (25 - 14) * ((100vw - 300px) / (1600 - 300)));
    --font-p-big: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));  
    --font-p-mid: calc(12px + (15 - 12) * ((100vw - 300px) / (1600 - 300)));     
    --font-p-small: calc(8px + (12 - 8) * ((100vw - 300px) / (1600 - 300))); 
    --font-p-pony: calc(6px + (10 - 6) * ((100vw - 300px) / (1600 - 300))); 

    --number-icons: calc(25px + (40 - 25) * ((100vw - 300px) / (1600 - 300)));   
}

*::selection {
    background: var(--green);
    color: var(--white);
}
::-webkit-scrollbar {
  width: 0.8rem;
  }
  ::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: var(--green);
  }
  ::-webkit-scrollbar-track {
  background-color: var(--black-light);
  }
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    background: var(--black-light);
}
section {
    padding: 2rem 5%;
}


.btn {
    display: inline-block;
    padding: 0.8rem 3rem;
    font-size: var(--font-p-big); 
    border: .2rem solid var(--green);
    color: var(--green);
    background: transparent;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 1rem;
    overflow: hidden;
    position: relative;
    z-index: 0;
    box-shadow: var(--box-shadow);
}
.btn::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: var(--green);
    z-index: -1;
    transition: 0.3s;
}
.btn:hover::before {
    width: 100%;
    left: 0;
}
.btn:hover {
    color: var(--body);
}


/* НАЧАЛО секции HEADER header section START*/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    /* background: #FDFCFA; */
    background: var(--body);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 7%;
    box-shadow: var(--box-shadow);
}
header .logo {
    /* font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300))); */
    font-size: var(--font-p-big);
    font-weight: 900;
    color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo span {
  color: var(--black);
  
}
header .logo:hover {
  letter-spacing: .5rem;     /* растояние между буквами 1-3рем */
  transform: scale(1.1);    /* эффект увеличения 1,1-1,5 */
}
header ul.navbar {
    display: flex;
    list-style: none;
}
header ul.navbar li {
    margin: 0rem 1rem;
}
header ul.navbar li a {
    color: var(--black);
    font-size: var(--font-p-big);
    font-weight: 800;
}
header ul.navbar li a:hover {
    color: var(--green);
}
#menu-bar {
    font-size: var(--font-h3);
    cursor: pointer;
    color: var(--black);
    border: .1rem solid var(--black);
    padding: 0.5rem 1.5rem;
    border-radius: 0.3rem;
    display: none;
}
.cart {
  position: relative;
  
  border-right: 1px solid var(--black);
  padding-right: 10px;
  height: 50px;
}
.phone-holder {
  display: flex;
  align-items: center;
  gap: 1rem
}
.num {
  color: var(--black);
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s linear;
}
.num:hover {
  color: var(--green);
}
.phone-text {
  font-size: var(--font-p-small);
  font-weight: 400;
  color: var(--black);
}
/* КОНЕЦ секции HEADER header section END */


/* НАЧАЛО секции HOME section START */
.home {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5.5rem;
    min-height: 100vh;
    min-height: 90vh;
    align-items: center;
    background: linear-gradient(rgba(2, 2, 2, 0.7),rgba(16, 16, 16, 0.8)), url(img/homepage-bg1.jpg) no-repeat center/cover;
}
.home .content {
    flex: 1 1 40rem;
    padding-top: 6.5rem;
    
}
.home .image {
    flex: 1 1 40rem;
}
.home .image img {
    max-width: 100%;
    padding: 5rem;
    animation: move 3s linear infinite;
}
@keyframes move {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-3rem);
    }
}
.home .content h2 {
    color: var(--body);
    font-size: var(--font-h2);
    text-align: center;
    margin-bottom: 2.5rem;
    box-shadow: var(--box-shadow);
}
.home .content h2 span {
  color: var(--green);
}
.home .content p {
    color: var(--body);
    font-size: var(--font-p-big); 
}
/* КОНЕЦ секции HOME section END  */


/* НАЧАЛО секции OUR MANNSCHAFTE programs section START  */
.programs {
    background: var(--green);
    min-height: 100vh;
}
.programs .heading {
    text-align: center;
    font-size: var(--font-h1);
    padding: 1rem;
    color: var(--black-light);
    margin-bottom: 3rem;
}
.programs .heading span {
    background: var(--black-light);
    color: var(--green);
    padding: 0.5rem;
    border-radius: 1rem;
}
.programs .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.programs .box-container .box {
    flex: 1 1 35rem;
    position: relative;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    border: .1rem solid rgba(0,0,0,.2);
    border-radius: 0.5rem;
}
.programs .box-container .box .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: -100%;
    left: 0;
}
.programs .box-container .box .content {
    text-align: center;
    background: var(--body);
    padding: 2rem;
}
.programs .box-container .box .content img {
    width: 10rem;
    margin: 1.5rem 0rem;
}
.programs .box-container .box .content h4 {
    font-size: var(--font-h4);
    margin: 1rem 0rem;
}
.programs .box-container .box .content p {
    font-size: var(--font-p-mid);
    padding: 1rem;  
}
.programs .box-container .box:hover .image {
    top: 0;
    cursor: pointer;
}
.programs .box-container .box:hover .content {
    transform: translateY(100%);
}
/* КОНЕЦ секции OUR MANNSCHAFTE programs section END */


/* НАЧАЛО секции ПРИСОЕДЕНИТЬСЯ join section START */
.join {
    min-height: 70vh;
    /* background: url(img/homepage-bg1.jpg) no-repeat center/cover; */
    background: linear-gradient(rgba(87, 87, 87, 0.8),rgba(20, 20, 20, 0.8)), url(img/homepage-bg2.jpeg) no-repeat center/cover;
    
    /* background: linear-gradient(to right,
    rgba(0, 0.5, 0.4, 0.7), rgba(0, 0, 0, 0)), url(img/homepage-bg1.png) no-repeat center/cover; */

    display: flex;
    flex-wrap: wrap;
    /* gap: 6rem; */
    gap: 15rem;
    align-items: center;
}
.join .content {
    margin-top: 10%;
    margin-left: 10%;
}
.join .content h1 {
    font-size: var(--font-h1);
    color: var(--body);
}
.join .content h1 span {
    color: var(--green);
}
.join .content p {
  color: var(--white);
  font-size: var(--font-p-big);
  /* margin-left: 3rem; */
}
.join .content img {
  /* flex: 1 1 40rem; */
  padding: 1rem;
  /* text-align: center;  */
  /* margin-left: 6rem; */
}
/* .join .content ul {
    color: #fff;
    font-size: calc(18px + (35 - 18) * ((100vw - 300px) / (1600 - 300)));
    margin-left: 3rem;
} */
/* КОНЕЦ секции ПРИСОЕДЕНИТЬСЯ join section END */


/* НАЧАЛО секции ФОТОГАЛЕРЕЯ gallery section START t */
.photo-gallery {
  background: var(--green);
    min-height: 100vh;
}
.photo-gallery .heading {
    text-align: center;
    font-size: var(--font-h1);
    padding: 1rem;
    color: var(--black-light);
    margin-bottom: 3rem;
}
.photo-gallery .heading span {
    background: var(--black-light);
    color: var(--green);
    padding: 0.5rem;
    border-radius: 1rem;
}
.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 90%;
    margin: 0 auto;
}
.gallery a {
    width: 35rem;
    height: 20rem;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: var(--box-shadow);
}
.gallery a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery a img:hover {
    transform: scale(1.3);
}
/* КОНЕЦ секции ФОТОГАЛЕРЕЯ gallery section END */


/* НАЧАЛО секции СПОНСОРЫ partners slider section START */
section.partners {
    padding: 0rem;
    
}
.partners .heading {
  text-align: center;
  font-size: var(--font-h1);
  /* padding: 1rem; */
  /* color: #222; */
  /* margin-bottom: 3rem; */
}
.partners .heading span {
  color: var(--green);
  padding: 0.5rem;
  border-radius: 1rem;
}
.partners {
  height: 20rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.partners::before,
.partners::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  position: absolute;
  width: 20rem;
  height: 20rem;
  z-index: 2;
}
.partners::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.partners::before {
  left: 0;
  top: 0;
}
.partners .slide-container {
  animation: scroll 30s linear infinite;
  display: flex;
  width: calc(25rem * 14);
  padding: 0rem 1rem;
}
.partners .slide {
  /* width: 25rem; */
  width: 35rem;
  height: 10rem;
}
@keyframes scroll {
  0% {
      transform: translateX(0);
  }

  100% {
      transform: translateX(calc(-25rem * 7));
  }
}
/* КОНЕЦ секции СПОНСОРЫ partners slider section END */


/* НАЧАЛО секции ОТЗЫВЫ review section START */
.review {
    min-height: 50vh;
    background: var(--green-clr);
}
.review .heading {
    text-align: center;
    font-size: var(--font-h1);
    padding: 1rem;
    color: var(--black-light);
    margin-bottom: 3rem;
}
.review .heading span {
    background: var(--black-light);
    color: var(--green);
    padding: 0.5rem;
    border-radius: 1rem;
}
.review .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.review .box-container .box {
    text-align: center;
    padding: 2rem;
    border: .1rem solid var(--body);
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    flex: 1 1 25rem;
    background-color: var(--black-light);
    margin-top: 5rem;
}
.review .box-container .box img {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    border-radius: 50%;
    border: 1rem solid var(--body);
    margin-top: -8rem;
}
.review .box-container .box h4 {
    font-size: var(--font-h4);
    color: var(--body);
}
.review .box-container .box i {
    font-size: var(--font-p-mid); 
    color: orange;
    margin-bottom: 1.5rem;
}
.review .box-container .box p {
    font-size: var(--font-p-mid); 
    text-align: justify;
    color: var(--body);
}
/* КОНЕЦ секции ОТЗЫВЫ review section END */


/* НАЧАЛО секции ФУТОР footer section START */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

    /* padding-bottom: 5rem; */

    /* text-align: center;
    margin-top: 3rem; */
}

.footer .footer-social {
  width: 25%;
  padding-bottom: 0rem;
  margin-top: 1.5rem;
}
.footer .footer-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer .footer-social {
  /* display: flex;
  align-items: center; */
  gap: 2rem;
}
.footer  .footer-social li a {
  font-size: 2rem;
  display: block;
  /* color: #fff; */
  transition: all .3s;

  text-align: center;
  width: 4.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  border-radius: 50%;
  color: var(--body);
  background-color: var(--black-light);
  border: 0.2rem solid var(--green);
}
.footer .footer-social li a:hover {
  /* color: dodgerblue; */
  color: var(--green);
  transform: translateY(-1rem);
  box-shadow: var(--box-shadow-clr);
}

.hr {
  width: 100%;
  border: .1rem solid rgba(225, 235, 230, 0.969);
  margin: 2rem 0rem;
  /* width: 100px;
  margin: 50px auto;
  border: 1px solid rgb(248, 245, 245); */
}

.footer .copyright {
    margin-top: 3rem;
    color: var(--white);
    font-size: var(--font-p-small); 
}
.footer .copyright span {
    color: var(--green);
}
.footer .copyright a {
  color: var(--white);
  
  text-decoration: underline;
}
/* КОНЕЦ секции ФУТОР footer section END  */


/* НАЧАЛО секции ПЕРЕЗАГРУЗКА loader START*/
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000000;
    background: #FDFCFA;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader-container img {
    height: 15rem;
}
.loader-container.active {
    display: none;
}
/* КОНЕЦ секции ПЕРЕЗАГРУЗКА loader END */


/* media queries */
@media (max-width: 768px) {
    #menu-bar {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 120%;
        right: 2rem;
        border-radius: 0.5rem;
        border: .3rem solid var(--green);
        box-shadow: var(--box-shadow);
        width: 30rem;
        background: var(--body);
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar li {
        padding: 1.5rem;
        border: .2rem solid rgba(0,0,0,.1);
        background: var(--white);
    }

    header .navbar li:hover {
        border-left: .5rem solid var(--green);
        border-right: .5rem solid var(--green);
    }

    
}

@media (max-width: 860px) {
    .footer .menu {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}